// Отключаем стандартные чекбоксы
.checkbox__input {
    @include visually-hidden;
}

// Лейбл чекбокса
.checkbox {
    position: relative;
    display: block;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 55px;
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    line-height: 26px;

    &:last-child {
        margin-bottom: 35px;

        @include tablet {
            // margin-bottom: 55px;  
        }
        
    }
    // Чекбокс
    &::before {
        content: "";
        position: absolute;
        left: -75px;
        top: 50%;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: #f2f2f2;
        transform: translateY(-50%);
    }

    @include tablet {
        margin-bottom: 30px;
        // Расстояние между столбцами 
        margin-left: 30px;
    }
}

.showplaces .checkbox {
    font-size: 18px;
    line-height: 26px;
    text-transform: none;

    @include tablet {
        width: 33%;
    }
}

// Выбранный чекбокс
.checkbox__input:checked + .checkbox::before {
    background-image: url('../img/tick.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
}

// Ховер и фокус
.checkbox__input:hover:not(:disabled) + .checkbox::before,
.checkbox__input:focus:not(:disabled) + .checkbox::before {
    background-color: #e5e5e5;
}   

// Клик
.checkbox__input:active:not(:disabled) + .checkbox::before {
    background-color: #d5d5d5;
}

// Отключенный чекбокс
.checkbox__input:disabled + .checkbox::before {
    opacity: 0.3;
}
