.impression {
    position: relative;
    padding-top: 15px;
    padding-bottom: 40px;
    // max-width: 320px;
    margin: 0 auto;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 1px;
        background-color: #e5e5e5;
        transform: translateX(-50%);

        @include tablet {
            display: none;
        }
    }

    @include tablet {
        order: -1;
        margin: 0;
        padding-bottom: 0;
    }

    @include desktop {
        padding-top: 0;
        width: 45%;
    }
}

.impression .form__heading {
    @include tablet {
        margin-bottom: 75px;
    }

    @include desktop {
        text-align: center;
    }
}
.impression label {
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
}


