@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin mobile {
    @media (min-width: $mdmobile-width) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }
  
  @mixin laptop {
    @media (min-width: $laptop-width) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
  }