.name {
    position: relative;
    padding-top: 20px;
    padding-bottom: 25px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 1px;
        background-color: #e5e5e5;
        transform: translateX(-50%);
        
        @include tablet {
            display: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 1px;
        background-color: #e5e5e5;
        transform: translateX(-50%);

        @include tablet {
            display: none;
        }
    }

    @include tablet {
        width: 41%;
        padding-top: 15px;
        padding-bottom: 50px;
    }

    @include desktop {
        padding-top: 0;
    }
}

.name .form__heading {
    @include tablet {
        text-align-last: left;
        margin-bottom: 55px;
    }
}

.name label {
    margin-right: 15px;
}

.name input {
    width: 100%;
}

.name__row {
    display: flex;
    align-items: center;
    
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.name__column:nth-of-type(2) {
    flex-grow: 1;
}