.name {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 97vw;
        height: 1px;
        background-color: #e5e5e5;
        transform: translateX(-50%);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 97vw;
        height: 1px;
        background-color: #e5e5e5;
        transform: translateX(-50%);
    }
}

.name label {
    margin-right: 15px;
}

.name input {
    width: 100%;
}

.name__row {
    display: flex;
    align-items: center;
    
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.name__column:nth-of-type(2) {
    flex-grow: 1;
}