.page-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35px 20px 25px;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 60px;
        padding-right: 60px;
    }

    @include desktop {
        padding-left: 120px;
        padding-right: 120px;
    }
}

.page-footer__hashtag {
    margin-bottom: 35px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;

    @include tablet {
        margin-top: 12px;
        margin-bottom: 0;
    }
}

.page-footer__socials {
    margin-bottom: 25px;

    @include tablet {
        margin-bottom: 0;
    }
}

.page-footer__developer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.page-footer__image {
    margin-left: 10px;
}