.showplaces {
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
    max-width: 320px;
    margin: 0 auto;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 1px;
        background-color: #e5e5e5;
        transform: translateX(-50%);

        @include tablet {
            display: none;
        }
    }

    @include tablet {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        max-width: 100%;
        width: 100%;
    }
}

.showplaces .form__heading {

    @include tablet {
        position: relative;
        max-width: 100%;

        // Серые полосы по бокам от заголовка
        
    }
}


  

.showplaces__wrapper {
    @include tablet {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}

