$main-color: #81b3d2;
$grey-color: #eeeeee;
$font-color: #444444;

$mobile-width-content: 320px; 
$mobile-width: 320px;
$tablet-width-content: 768px;
$tablet-width: 768px;
$desktop-width-content: 1280px;
$desktop-width: 1280px;