.video {
    padding-top: 17px;
    padding-bottom: 40px;
    text-transform: uppercase;

    @include tablet {
        padding-top: 65px;
    }

    @include desktop {
        padding-top: 70px;
    }
}

.video__heading {
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    @include tablet {
        margin: 0 auto 30px;
        font-size: 30px;
        max-width: 500px;
    }
}

.video__paragraph {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #333;

    @include tablet {
        margin: 0 auto 75px;
        max-width: 500px;
    }
}

.video__container {
    position: relative;
    text-align: center;
    max-width: 648px;
    margin: 0 auto;
    
    @include desktop {
        max-width: 800px;
    }
}

.video picture {
    margin: 0;
    padding: 0;
}

.video__link {
    display: block;
    line-height: 0.8;
}