.controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 280px;
    margin: 0 auto;
    background-color: #f2f2f2;

    @include tablet {
        position: absolute;
        bottom: 0;
        flex-wrap: nowrap;
        max-width: 648px;
        width: 100%;
        height: 93px;
        background-color: #000;
        opacity: 0.6;
    }

    @include desktop {
        max-width: 800px;
    }
}

.controls__timeline {
    position: absolute;
    max-width: 280px;
    width: 100%;
    bottom: 66px;
    height: 45px;
    background-color: #000;
    opacity: 0.6;

    @include tablet {
        position: relative;
        bottom: 0;
        width: 400px;
        max-width: 400px;
        height: auto;
        opacity: 1;
    }

    // Линия для ползунка
    &::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 3px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f2f2f2;
        opacity: 0.2;
    }

    // Ползунок
    &::after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        background-color: #f2f2f2;
        border-radius: 50%;
        cursor: pointer;

        @include tablet {
            background-color: #fff;
            left: 30%;
        }
    }
}

.controls__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    background-color: #f2f2f2;

    &:hover svg ,
    &:focus svg {
        fill: #333333;
    }

    &:active svg {
        fill: #333333;
        opacity: 0.3;
    }

    &:nth-of-type(2) {
        @media (max-width: $tablet-width) {
            margin-left: auto;
        }
    }

    @include tablet {
        height: 93px;
        width: 93px;
        background-color: transparent;

        & svg {
            fill: #fff;
        }

        &:hover svg,
        &:focus svg {
            fill: #c2c2c2;
        }

        &:active svg {
            fill: #949494;
        }

        &:first-of-type {
            order: -1;
        }
    }
}

.controls__icon {
    fill: #5c6870;
    transition: 0.2s;
}