.photo {
    // width: 100%;
    // max-width: $mobile-width;
    // width: 100%;
    // height: 200px;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        max-width: 648px;
        margin: 0 auto;
    }

    @include desktop {
        max-width: $desktop-width;
    }
}

.photo__container {
    position: relative;
    padding: 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;

    &:first-child {
        @media (max-width: $tablet-width - 1) {
            border-top: 1px solid #e5e5e5;
        }
    }

    @include tablet {
        padding: 0;
        border: none;

        &:not(:first-child) {
            max-width: 50%;
        }
    }
}

.photo__description {
    margin: 0 auto;
    width: 100%;
    max-width: $mobile-width - 40px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;

    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $tablet-width;
        background-color: #f2f2f2;
        padding: 12px 20px 8px;
    }

    @include desktop {
        max-width: $desktop-width-content;
        position: absolute;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.3);
        color: #fff;
    }
}

.photo__name {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.photo__author {
    margin: 0;
    margin-bottom: 9px;
}

.photo__likes {
    position: relative;
    margin: 0;
    margin-left: 35px;
    font-weight: bold;

    &::before {
        position: absolute;
        content: "";
        left: -35px;
        top: 0;
        width: 23px;
        height: 21px;
        background: url('../img/icon-like.svg') 50% 50% no-repeat;
    }
}

.photo__img {
    margin-bottom: 13px;

    @include tablet {
        margin-bottom: 0;
    }
}

.photo__link {
    // Убираем странное смещение ссылок
    display: block;
    line-height: 0.8;
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
        background-color: #f2f2f2;
    }
}

