.showplaces {
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;



    // &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     width: 100vw;
    //     overflow: visible;
    //     height: 1px;
    //     background-color: #e5e5e5;
    //     transform: translateX(-50%);

    //     @include tablet {
    //         display: none;
    //     }
    // }

    @include tablet {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.showplaces .form__heading {
    @include tablet {
        position: relative;
        max-width: 100%;
        margin-bottom: 25px;
    }
}

.showplaces__wrapper {
    @include tablet {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    @include desktop {
        justify-content: space-between;
        position: relative;
        left: 75px;
    }
}

